body{
    background-color: #f7f7f7;
    min-width: 1300px;
}
/* header */
header{
    padding: 0 220px;
    max-height: 90px;
    background-color: white;
}

#navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#img-ul{
    display: flex;
    margin-top: 12px;
}

.logo{
    min-width: 90px;
}

.email{
    width: 42px;
    height: 29px;
    margin-top: 5px;
    
}

#list{
    display: flex;
    list-style: none;
}

#list > li{
    padding: 10px;
}


#div-span{
    margin-top: 10px;
    margin-left: 30px;
}
a{
    text-decoration: none;
}

.a-color{
    color: black;
}

#number{
    font-size: 14px;
    margin-top: 10px;
    display: flex;
}

#number-margin{
    margin-top: -8px;
}

/* section */
#personal{
    padding:0 220px;
}

#personal-data{
    display: flex;
    background-color: white;
    height: 80px;
    margin-top: 20px;
    padding-top:20px;
    padding-left: 20px;
}

#head-portrait{
    width: 80px;
    height: 62px;
}

#btn-exit{
    border: none;
    color: blue;
    background-color: white;
}

#number span{
    color: gray;
    padding-right: 10px;
}

#btn-binding{
    border: none;
    color: orange;
    background-color: white;
    font-weight: 700;
}

#safe{
    margin-bottom: -5px;
}

/* 公会钱包 */
#wallet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    height: 50px;
}

.bold{
    font-weight: 700;
}
table{
    width: 100%;
    border: 1px solid #f2f2f2;
}

.wallet-head{
    max-height: 65px;
    background-color: #f2f2f2;
    line-height: 65px;
    padding: 0 10px;
    margin-top: 4px;
    position: relative;
}

.bigger-font{
    font-weight: 700;
    font-size: 18px;
}

.big-font{
    
    font-size: 18px;
}

.small-font{
    font-size: 12px;
    color: darkgray;
}

.tips-wh{
    border-radius: 50%;
    background-color: #999999;
    padding: 0 6px;
    color: white;
    font-size: 14px;
    overflow: hidden;
}

.tips-faqi{
    font-size: 12px;
    background-color: #353535;
    color: white;
    border-radius: 30px;
    padding: 10px 15px;
    position: absolute;
    top: 40px;
    margin-left: -5px;
    height: 20px;
    line-height: 20px;
    
    
}

.tips-gt{
    background-color: #ed5e4a;
    color: white;
    font-size: 10px;
    font-weight: 700;
    border-radius: 50%;
    padding: 0 4px;
    margin: 0 10px;
}
#wallet-top{
    position: relative;
}

#margin-top{
    position: absolute;
    height: 10px;
    line-height: 10px;
    margin-top: 19px;
}

#margin-left{
    margin-left: 30px;
}
.number-right{
    float: right;
}

#number-big{
    font-size: 25px;
}

.wallet-section{
    max-height: 57px;
    line-height: 57px;
    padding: 0 10px;
    border: 1px solid #f2f2f2;
    background-color: #ffffff;

    
}

#button-right{
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
}

#p-a{
    font-size: 12px;
    color: #32acf9;
    cursor: pointer;
}

.button{
    width: 77px;
    height: 34px;
    border-style: none;
    background-color: #ff9a00;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.color-red{
    color: red;
}

/* 结尾 */

.wallet-footer{
    background-color: #ffffff;
}

#nav-a{
    font-size: 20px;
    padding: 30px 0 10px;
    border-bottom: 4px solid #e4e4e4;
}
.a-hover{
    padding:0 20px;
    font-weight: 700;
    color: black;
    border-bottom: 4px solid #e4e4e4;
    padding-bottom: 9px;
}
.a-hover:hover{
    color: #2facfa;
    border-bottom: 4px solid #2facfa;
}

.select-wh{
    width: 140px;
    height: 30px;
    border: 1px solid #e7e7e7;
}

#date{
    margin-left: 10px;
}
#div-select{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 80px;
}

#no-data{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

/* select去除默认样式 */
select {
    appearance:none;  
    -moz-appearance:none;  
    -webkit-appearance:none;
     background: url(5.png) no-repeat scroll right center transparent;
     padding-right: 14px;
     background-color: #ffffff;
}
